a{
    text-decoration: none;
    color: black;
}
img{
    height: 500px;
}
.nail-history{
    font-family: Vanitas-Extrabold,MierB,arial;
}
.img-fluid{
    height: 400px;
}
.nail-copyright li{
    display: inline-block;
    padding: 20px;
}

@media only screen and (min-width: 768px) {
    .collapse{
        padding-left: 28%;
    }
  }


    .slick-dots{
        margin-right: 20px;
    }
