
.nail-history {
    font-family: Vanitas-Extrabold, MierB, arial;
}

.slick-dots{
    margin-right: 20px;
}

.btn-book-now {
    padding: 7px 24px 9px;
    text-decoration: none;
    background-color: #dca8a8;
    box-shadow: 0 2px 6px #00000026;
    border: 0;
    border-radius: 50px;
    color: #fff;
}

.footer{
    background-color: #dca8a8;
    color: #fff;
}

.header_pink{
    background-color: #dca8a8;
    color: #fff;
}

.item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 0 1 45%;
    margin-bottom: 30px;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 280px;
    padding: 0 20px;
}


.item-image img {
    width: 100%;
}

.item-title {
    font-family: MierB,arial;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: .005em;
    color: #000;
    padding-left: 17px;
    margin: 8px 0;
}

.item-description {
    font-size: 18px;
    line-height: 24px;
    display: block;
    text-align: center;
    font-family: MierB,arial;
    font-style: normal;
    line-height: 30px;
    letter-spacing: .005em;
    color: #000;
}

.caption{
    padding: 7px 24px 9px;
    text-decoration: none;
    background-color: #f8f9fa;
    box-shadow: 0 2px 6px #00000026;
    border: 0;
    border-radius: 50px;
    color: #343a40;
}

.dropdown-item:active {
    background-color: #dca8a8;
  }

a{
    text-decoration: none;
}

.feed_card{
    border-radius: 20px;
    background-color: #dca8a8;
    color: #fff;
    
}

  

  

