@media (min-width: 300px) {
    .btn-book-now {
        padding: 7px 24px 9px;
        border-radius: 50px;
        text-decoration: none;
        background-color: #dca8a8;
        box-shadow: 0 2px 6px #00000026;
        border: 0;
        color: #fff;
    }

    .h2 {
        margin-bottom: 30px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 34px;
        line-height: 34px;
        color: #000;
    }

    .login-contrainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .customer-login {
        margin: 0 0 40px;
        max-width: 1200px;
        min-height: auto;
        padding: 0 20px;
        flex: 1 0 100%;
        width: 100%;
        order: 2;

    }

    .booking-login {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer{
        background-color: #dca8a8;
        color: #fff;
      }
      
    .header_pink{
        background-color: #dca8a8;
        color: #fff;
    }

    .caption{
        padding: 7px 24px 9px;
        text-decoration: none;
        background-color: #f8f9fa;
        box-shadow: 0 2px 6px #00000026;
        border: 0;
        border-radius: 50px;
        color: #343a40;
    }

    .dropdown-item:active{
        background-color:#dca8a8;
      }

}