
.card-img-top {
  max-width: 100%;
  height: auto;
}

.container {
  margin-top: 50px;
}

.btn-next-prev {
  margin-right: 5px;
  background-color: gray;
  color: white;
}

.btn-next-prev:hover {
  background-color: darkgray;
}

.dropdown-item:active {
  background-color: #dca8a8;
}


a{
    text-decoration: none;
}

img{
    height: 500px;
}

.nail-history {
    font-family: Vanitas-Extrabold, MierB, arial;
}

.slick-dots{
    margin-right: 20px;
}

.btn-book-now {
    padding: 7px 24px 9px;
    text-decoration: none;
    background-color: #dca8a8;
    box-shadow: 0 2px 6px #00000026;
    border: 0;
    border-radius: 50px;
    color: #fff;
}

.footer{
    background-color: #dca8a8;
    color: #fff;
}

.header_pink{
    background-color: #dca8a8;
    color: #fff;
}

.item{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 280px;
    padding: 0 20px;
}

.caption{
    padding: 7px 24px 9px;
    text-decoration: none;
    background-color: #f8f9fa;
    box-shadow: 0 2px 6px #00000026;
    border: 0;
    border-radius: 50px;
    color: #343a40;
}