.header{
    width: 100%;
    height: 160px;
}
.col img{
    width: 100px;
    height: 115px;
    margin-left: 150px;
}
.col{
    float: left;
}
.nav{
    margin-top: 33px;
}
.bt {
    margin-top: 35px; 
    margin-left: 300px;                  
}
.nav-item :hover {
    text-decoration: underline;
}
button{
    background-color: white;
    color: black;
}
button :hover{
    background-color: rgb(196, 196, 196);
    color: red;
}
.body{
    width: 100%;
    min-height: 600px;
    background-color: #37384E;
}
.box{
    width: 50%;
    margin-left: 350px;
}
.h3{
    margin-top: 10px;
    text-align: center;
}
h3{
    color: white;
}
h4{
    color: #AEB0D0;
    font-family: 31px 'Times New Roman', Times, serif;
}
.footer{
    width: 100%;
    min-height: 150px;
    background-color: #ffff;
}
.ftlogo img{
    width: 100px;
    height: 100px;
}
.containerfooter{
    margin-left: 150px;
}
.hr{
   width: 100%;
   height: 1px;
   background-color: #000000; 
}
.©2023{
    text-align: center;
    margin-top: 20px;
}